html {
    top: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 23px; */
    min-height: 1028px;
    background-color: rgb(53, 53, 53);
}

.header {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(15, 15, 15, 0.938);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    left: 0;
}

.firebase__button {
    display: flex;
    margin-right: 10%;
    color: white;
    align-items: center;
}

.firebase__button img {
    height: 50px;
}

#root {
    min-height: 1028px;
    width: 100%;
    background-color: green;
    left: 0;
    top: 0;
    margin: 0;
}

p {
    display: flex;
    margin-top: 200px;
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    mix-blend-mode: color-dodge;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homepage__logout {
    background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)),
        url('../public/assets/background-images/home-logout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    min-height: 1028px;
    margin-top: 0;
    display: flex;
    background-attachment: fixed;
}

.homepage__login {
    background-image: url('../public/assets/background-images/home-login.jpg');
    background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)),
        url('../public/assets/background-images/home-logout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    min-height: 1028px;
    margin-top: 0;
    display: flex;
    background-attachment: fixed;
}
